:root {
  --primary-dark: #212121;
  --secondary-dark: #6e6e6e;
  --primary-btn: #e9e6e6;
}

.container {
  max-width: 90% !important;
}

.navbar {
  background-color: var(--primary-dark);
  font-size: 18px;
  border-bottom: 10px solid var(--secondary-dark);
}

.alloy-logo {
  width: 35px;
  position: absolute;
  top: 0.6rem;
}

.header {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3.5rem;
}

.header span {
  font-weight: bold;
}

.hamburger {
  cursor: pointer;
}

.side-menu {
  background-color: var(--primary-dark);
}

/* Alloy Section */
.main-heading {
  margin-top: 2rem;
}
.alloys {
  margin: 4rem auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.alloys h4 {
  margin-bottom: 2rem;
}

.card-panel.alloy {
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: all .2s;
  margin: 0 0 10px 0;
}

.card-panel.alloy:hover {
  transform: scale(1.1);
  color: cornflowerblue;
}

.alloy-title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.alloy-description {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.btn {
  margin: 0 auto !important;
}

/* Information Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  background-color: #f4f4f4;
  margin: 20% auto;
  /* padding: 150px 20px; */
  width: 90%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalOpen;
  animation-duration: 1.5s;
}

.close-btn {
  position: absolute;
  color: #ccc;
  top: -15px;
  right: -9px;
  font-size: 20px;
  background: red;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  
}

.close-btn:hover, .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content-table {
  border-collapse: collapse;
  margin: 40px 0;
  font-size: 0.75rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.content-table thead {
  background-color: #009879;
  color: white;
}

.content-table thead th {
  text-align: center;
  font-weight: bold; 
}

.content-table tbody td {
  text-align: center;
  /* border: 1px solid #000; */
}

.content-table th,
.content-table td {
  padding: 5px 5px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.card {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
}

.card-element {
  font-weight: bold;
  padding: 0 7px;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #888;
}

.card-chem {
  padding: 0 5px
}

@keyframes modalOpen {
  from{opacity: 0}
  to{opacity: 1}
}


/* Media Queries */
@media (min-width: 400px) {
  .alloys {
    flex-direction: row;
  }
