:root {
  --primary-dark: #212121;
  --secondary-dark: #6e6e6e;
  --primary-btn: #e9e6e6;
}

.container {
  max-width: 90% !important;
}

.navbar {
  background-color: var(--primary-dark);
  font-size: 18px;
  border-bottom: 10px solid var(--secondary-dark);
}

.alloy-logo {
  width: 35px;
  position: absolute;
  top: 0.6rem;
}

.header {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3.5rem;
}

.header span {
  font-weight: bold;
}

.hamburger {
  cursor: pointer;
}

.side-menu {
  background-color: var(--primary-dark);
}

/* Alloy Section */
.main-heading {
  margin-top: 2rem;
}
.alloys {
  margin: 4rem auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.alloys h4 {
  margin-bottom: 2rem;
}

.card-panel.alloy {
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: all .2s;
  margin: 0 0 10px 0;
}

.card-panel.alloy:hover {
  transform: scale(1.1);
  color: cornflowerblue;
}

.alloy-title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.alloy-description {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

/* Media Queries */
@media (min-width: 400px) {
  .alloys {
    flex-direction: row;
  }
